[submodule "user-profile"]
	path = user-profile
	url = git@github.com:Walkername/user-profile.git
[submodule "movie-catalog"]
	path = movie-catalog
	url = git@github.com:Walkername/movie-catalog.git
[submodule "rating-system"]
	path = rating-system
	url = git@github.com:Walkername/rating-system.git
[submodule "movie-rating-frontend"]
	path = movie-rating-frontend
	url = git@github.com:Walkername/movie-rating-frontend.git
