
services:
    postgresql:
        container_name: postgresql
        image: postgres:14.17
        environment:
            POSTGRES_DB: moviecluster_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            PGDATA: "/var/lib/postgresql/data/pgdata"
        volumes:
            - ../2. Init Database:/docker-entrypoint-initdb.d
            - postgre-data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        networks:
            - moviecluster
            
    pgadmin:
        container_name: pgadmin_container
        image: dpage/pgadmin4:9.1.0
        environment:
            PGADMIN_DEFAULT_EMAIL: "05Timur51@gmail.com"
            PGADMIN_DEFAULT_PASSWORD: "postgres"
        volumes:
            - pgadmin-data:/var/lib/pgadmin
        ports:
            - "5050:80"
        restart: unless-stopped
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 1G
        networks:
            - moviecluster
        
    minio:
        image: minio/minio:RELEASE.2025-07-23T15-54-02Z-cpuv1
        container_name: minio
        ports:
            - "9000:9000"  # S3 API
            - "9001:9001"  # Web UI
        volumes:
            - minio-data:/data
        environment:
            MINIO_ROOT_USER: minioadmin
            MINIO_ROOT_PASSWORD: minioadmin123
        command: server --console-address ":9001" /data
        networks:
            - moviecluster
    
    kafka:
        image: apache/kafka:4.0.1
        container_name: kafka
        environment:
            - KAFKA_ENABLE_KRAFT=yes
            - KAFKA_PROCESS_ROLES=broker,controller
            - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
            - KAFKA_LISTENERS=INTERNAL://:19092,EXTERNAL://:9092,CONTROLLER://:9093
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
            - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:19092,EXTERNAL://localhost:9092
            - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
            - KAFKA_BROKER_ID=1
            - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
            - ALLOW_PLAINTEXT_LISTENER=yes
            - KAFKA_NODE_ID=1
            - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
            - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
            - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
            - KAFKA_NUM_PARTITIONS=1
            - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
            - KAFKA_NUM_PARTITIONS=3
        volumes:
            - kafka-data:/bitnami/kafka
        ports:
            - "9092:9092"
        networks:
            - moviecluster

    kafka-ui:
        image: provectuslabs/kafka-ui:v0.4.0
        container_name: kafka-ui
        ports:
            - "8085:8080"
        environment:
            - KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=kafka:19092
            - KAFKA_CLUSTERS_0_NAME=kraft
        depends_on:
            - kafka
        networks:
            - moviecluster
    
    redis-cache:
        image: redis:alpine3.22
        container_name: redis-cache
        ports:
            - "6379:6379"
        environment:
            - ALLOW_EMPTY_PASSOWORD=yes
            - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
        networks:
            - moviecluster
    
    esearch-storage:
        image: elasticsearch:9.1.5
        container_name: esearch-storage
        ports:
            - "9200:9200"
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        volumes:
            - elasticsearch_data:/usr/share/elasticsearch/data
        networks:
            - moviecluster
    
    kibana:
        image: kibana:9.1.5
        container_name: kibana
        environment:
            - ELASTICSEARCH_HOSTS=http://esearch-storage:9200
        ports:
            - "5601:5601"
        depends_on:
            - esearch-storage
        networks:
            - moviecluster
    
volumes:
    postgre-data:
    pgadmin-data:
    minio-data:
    kafka-data:
    elasticsearch_data:

networks:
    moviecluster: