.user-info-fa {
    display: flex;
}

.user-info-fa-description {
    overflow: auto;
    width: 300px;
}

.username-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.username-link:hover {
    color: rgb(117, 117, 255);
}