
.movie-info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.poster-pic {
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
    border: 3px solid #eee;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.movie-info-right-side {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.movie-description {
    width: 500px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 1px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}